*,
*::before,
*::after{
	box-sizing: border-box;
	padding: 0px;
	margin: 0px;
}
html, body{
	width: 100%;
}
body{
	background: rgb(238,183,222);
}
.app{
	width: 100%;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin-top: 75px;
}
h2{
	font-family: 'Roboto', sans-serif;
	flex-basis: 100%;
	display: flex;
	justify-content: center;
	margin-bottom: 40px;
	font-size: 60px;
	color: white;
	text-transform: capitalize;
}
.container{
	width: 65%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	background-color: white;
	border-radius: 10px;
	border-top-right-radius: 120px;
	padding: 15px 0px;
	overflow: hidden;
}
.form-wrapper{
	flex-basis: 80%;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
input{
	flex-basis: 40%;
	font-family: Arial;
	font-size: 18px;
	border: none;
	box-shadow: 0px 2px 1px -1px rgba(220,220,220,0.5);
	margin-right: 10px;
	margin: 10px 0px;
	outline: none;
}

::placeholder{
	color: rgb(185,183,183);
	font-size: 18px;
}
.button-wrapper{
	flex-basis: 15%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 10px 10px;
	min-width: 106px;
}
.button-wrapper a{
	text-decoration: none;
	color: rgb(173,170,169);
	border-radius: 10px;
	padding: 10px 20px;
	font-weight: 900;
	box-shadow: -0.5px 0px 0px 0.5px rgba(220,220,220,0.5);
}
.list-wrapper{
	flex-basis: 90%;
	margin-top: 20px;
	margin-bottom: 40px;
}
.list{
	list-style: none;
}
li:nth-child(even){
	background-color: rgb(247,245,247);
}
li:nth-child(odd){
	background-color: rgb(243,242,243);
}
.item{
	padding: 20px 20px;
	position: relative;
	pointer-events: none;
}
.item:hover::before{
	cursor: pointer;
}
.item-title{
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	color: rgb(134,127,131);
	font-weight: 600;
	text-transform: capitalize;
}
.item-content{
	color: rgb(185,183,183);
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
	font-size: 14px;
	text-transform: capitalize;
}
.item::before{
	content: "x";
	position: absolute;
	top: 0px;
	right: 0px;
	background-color: rgb(252,251,253);
	color:rgb(122,123,130);
	font-weight: bolder;
	padding: 6px 12px;
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	font-weight: bolder;
	pointer-events: auto;
}

@media (max-width: 1070px){
	input{
		flex-basis: 100%;
	}
}
